.Rproj.user
.Rhistory
.RData
.Ruserdata
nfl-big-data-bowl-2021
data.gitignore/games.csv
data.gitignore/players.csv
data.gitignore/plays.csv
data.gitignore/week1.csv
data.gitignore/week10.csv
data.gitignore/week11.csv
data.gitignore/week12.csv
data.gitignore/week13.csv
data.gitignore/week14.csv
data.gitignore/week15.csv
data.gitignore/week16.csv
data.gitignore/week17.csv
data.gitignore/week2.csv
data.gitignore/week3.csv
data.gitignore/week4.csv
data.gitignore/week5.csv
data.gitignore/week6.csv
data.gitignore/week7.csv
data.gitignore/week8.csv
data.gitignore/week9.csv
Data/games.csv
Data/players.csv
Data/plays.csv
Data/week1.csv
Data/week10.csv
Data/week11.csv
Data/week12.csv
Data/week13.csv
Data/week14.csv
Data/week15.csv
Data/week16.csv
Data/week17.csv
Data/week2.csv
Data/week3.csv
Data/week4.csv
Data/week5.csv
Data/week6.csv
Data/week7.csv
Data/week8.csv
Data/week9.csv
