.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/games.csv
Data/players.csv
Data/plays.csv
Data/week1.csv
Data/week10.csv
Data/week11.csv
Data/week12.csv
Data/week13.csv
Data/week14.csv
Data/week15.csv
Data/week16.csv
Data/week17.csv
Data/week2.csv
Data/week3.csv
Data/week4.csv
Data/week5.csv
Data/week6.csv
Data/week7.csv
Data/week8.csv
Data/week9.csv
