.Rproj.user
.Rhistory
.RData
.Ruserdata
nfl-big-data-bowl-2021
data.gitignore/games.csv
data.gitignore/players.csv
data.gitignore/plays.csv
data.gitignore/week1.csv
data.gitignore/week10.csv
data.gitignore/week11.csv
data.gitignore/week12.csv
data.gitignore/week13.csv
data.gitignore/week14.csv
data.gitignore/week15.csv
data.gitignore/week16.csv
data.gitignore/week17.csv
data.gitignore/week2.csv
data.gitignore/week3.csv
data.gitignore/week4.csv
data.gitignore/week5.csv
data.gitignore/week6.csv
data.gitignore/week7.csv
data.gitignore/week8.csv
data.gitignore/week9.csv
